<!DOCTYPE html>
<html>
  <head>
    <title>Employee Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="datepicker.min.css">
  </head>
  <body onload="validDate()">
    <div class="container">
        <h1>Employee List</h1>
        <form action="/api/employees" method="get">
        <%
        var list = employees.find();
        if(list.length>0) { %>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Hire Date</th>
              <th>Role</th>
              <th>Favorite Joke</th>
              <th>Favorite Quote</th>

            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<list.length;i++) { %>
              <tr>
                <td><%= list[i].identifier%></td>
                <td><%= list[i].firstName%></td>
                <td><%= list[i].lastName%></td>
                <td><%= list[i].hireDate%></td>
                <td><%= list[i].role%></td>
                <td><%= list[i].favoriteJoke%></td>
                <td><%= list[i].favoriteQuote%></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <div>No employees found.</div><br />
        <% } %>
        <input type="submit" value="Find All" /><br /><br />
        </form>
        <h1>Create New Employee</h1>
        <form action="/api/employees" method="post" enctype='application/json'>

                <label for="firstName">First Name : </label><input id="firstName" type="text" name="firstName" /><br /><br />
                <label for="lastName">Last Name : </label><input id="lastName" type="text" name="lastName" /><br /><br />
                <label for="hireDate">Hire Date : </label><input name="hireDate" id="hireDate" type="date" /><br /><br />
                <label for="role">Role : </label>
                    <select class="selectpicker" data-style="btn-info" name="role">
                        <optgroup label="Select Role">
                            <option name="lackey-option" value="LACKEY">LACKEY</option>
                            <option name="manager-option" value="MANAGER">MANAGER</option>
                            <option name="vp-option" value="VP">VP</option>
                            <option id="ceo" name="ceo-option" value="CEO">CEO</option>
                        </optgroup>
                    </select><br /><br />
                    <button>Create</button> <br />

        </form>

        <h1>Find By Id</h1>

        <form id = "findByIdForm" method='get' onsubmit="appendIdToPath('findByIdForm','findId')">
          <label for="id">Id : </label>
          <input type="text" id="findId">
          <input type="submit" value="Search">
        </form>
        <h1>Update By Id </h1>
        <label for="id">Id : </label>
        <input  type="text"  id="updateById"/>
        <input type="submit" value="Update" />
     
   

    </div>
    <script src="datepicker.min.js"></script>
    <script>
    function appendIdToPath(form, id){
      var action_src = "http://localhost:3000/api/employees/" + document.getElementById(id).value;
      var your_form = document.getElementById(form);
      your_form.action = action_src ;
    }
    function validDate(){
        var maxDate = new Date();
        maxDate.setDate(maxDate.getDate() - 2);
        document.getElementsByName("hireDate")[0].setAttribute('max', maxDate.toISOString().split('T')[0]);

    }



    </script>
  </body>
</html>
