<!DOCTYPE html>
<html>
  <head>
    <title>Employee Database</title>
    <link rel="icon" href="data:,">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
    crossorigin="anonymous">
  </head>
  <body onload="validDate()">
    <div align="center" class="container">
        <h1>Employee List</h1>
        <form action="/api/employees" method="get">
        <%
        var list = employees.find();
        if(list.length>0) { %>
        <table width="90%" class="pure-table pure-table-bordered">
          <thead align="center">
            <tr align="center">
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Hire Date</th>
              <th>Role</th>
              <th>Favorite Joke</th>
              <th>Favorite Quote</th>

            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<list.length;i++) { %>
              <tr>
                <td><%= list[i].identifier%></td>
                <td><%= list[i].firstName%></td>
                <td><%= list[i].lastName%></td>
                <td><%= list[i].hireDate%></td>
                <td><%= list[i].role%></td>
                <td><%= list[i].favoriteJoke%></td>
                <td><%= list[i].favoriteQuote%></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <div>No employees found.</div><br />
        <% } %>
        <div class='form-row'>
        <button>Find Employee List</button> <br />
      </div>
        </form>
        <h1>Create New Employee</h1>
        <div class='form-row'>
        <form action="/api/employees" method="post" enctype='application/json'>

                <label for="firstName">First Name : </label><input id="firstName" type="text" name="firstName" /><br /><br />
                <label for="lastName">Last Name : </label><input id="lastName" type="text" name="lastName" /><br /><br />
                <label for="hireDate">Hire Date : </label><input name="hireDate" id="hireDate" type="date" /><br /><br />
                <label for="role">Role : </label>
                    <select class="selectpicker" id="roleDropDown" data-style="btn-info" name="role">
                        <optgroup label="Select Role">
                            <option name="lackey-option" value="LACKEY">LACKEY</option>
                            <option name="manager-option" value="MANAGER">MANAGER</option>
                            <option name="vp-option" value="VP">VP</option>
                            <option id="ceo" name="ceo-option" value="CEO">CEO</option>
                        </optgroup>
                    </select><br /><br />
                    <div class='form-row'>
                    <button>Create</button> <br />
                  </div>

        </form>
      </div>
    </div>

    <script>

    function validDate(){
        var maxDate = new Date();
        maxDate.setDate(maxDate.getDate() - 1);
        document.getElementsByName("hireDate")[0].setAttribute('max', maxDate.toISOString().split('T')[0]);

    }
    </script>
  </body>
</html>
