<!DOCTYPE html>
<html>
  <head>
    <title>Update Employee</title>
    <link rel="icon" href="data:,">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
    crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h3><a href="/api/employees">Employee List</a></h3>
      <h1>Update Employee</h1>
      <table width="90%" class="pure-table pure-table-bordered">
        <thead align="center">
          <tr align="center"> 
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hire Date</th>
            <th>Role</th>
            <th>Favorite Joke</th>
            <th>Favorite Quote</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= employee.identifier%></td>
            <td><%= employee.firstName%></td>
            <td><%= employee.lastName%></td>
            <td><%= employee.hireDate%></td>
            <td><%= employee.role%></td>
            <td><%= employee.favoriteJoke%></td>
            <td><%= employee.favoriteQuote%></td>
          </tr>
        </tbody>
      </table>

      </form>
    </div>
  </body>
</html>
